# Git Ignore for EventShareOS

# cmake section
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake


# Build Outputs
*.a

build/
target/

basic_main
basic_main/binary_dir

test/CTestTestfile.cmake
test/Unity/CTestTestfile.cmake
test/binary_dir/
test/Testing

# Test Targets
test/TestDataQueue
test/TestAppVersion
test/TestEventCore
test/TestSoft_timers

# Targets
libEventShareOS.a
