# Git Ignore for EventShareOS

# cmake section
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake


# build outputs

build/
target/

basic_main
basic_main/binary_dir

test/binary_dir/


# targets
libEventShareOS.a
