# Git Ignore for EventShareOS

# cmake section
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake


# build outputs
*.a

build/
target/

basic_main
basic_main/binary_dir

test/CTestTestfile.cmake
test/binary_dir/
test/testing


# targets
libEventShareOS.a
